@import "../modules/variables.scss";
@import "../modules/classes.scss";
@import "../modules/mixins.scss";

img {
    width: 100%;
}
body {
    color: $text-color;
}

// Header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-color;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10);
    z-index: 100;
    .nav {
        @include display (flex);
        @include flex-property (space-between, center);
        padding: 20px 0;
    }
    .container {
        @extend %container;
        .logo {
            @include text-property (1.1rem, $poppins, $text-color, $capit);
        }
        #cart-icon {
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
}

// Section
section {
    padding: 4rem 0 3rem;
}
.shop {
    margin-top: 2rem;
}
.container {
    @extend %container;
    .section-title {
        @include text-property (1.5rem, $poppins, $text-color, $capit);
        font-weight: $semiBold;
        text-align: center;
    }
    .shop-content {
        @include display (grid);
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1.5rem;
        .product-box {
            position: relative;
            &:hover {
                padding: 10px;
                border: 1px solid $text-color;
                transition: 0.4s ease;
            }
            .product-img {
                width: 100%;
                height: auto;
                margin-bottom: 0.5rem;
            }
            .product-title {
                @include text-property (1.1rem, $poppins, $text-color, $upper);
                font-weight: $semiBold;
                margin-bottom: 0.5rem;
            }
            .price {
                font-family: $poppins;
                font-weight: $medium;
                color: $text-color;
            }
            .add-cart {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $text-color;
                color: $bg-color;
                padding: 10px;
                cursor: pointer;
                &:hover {
                   background: hsl(249, 32%, 17%); 
                }
            }
        }
    }
}
